.fieldset {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.70);
    margin: 20px;
    margin-top: 30px;
    padding: 30px 20px;
    text-align: left;
}

.fieldset .legend {
    background: #fff;
    height: 1px;
    position: absolute;
    top: -1px;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.70);
    overflow: visible;
}

.fieldset .legend h2 {
    font-family: 'Muli Light';
    top: -0.5em;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: visible;
}
