.CardUI {
    margin: 30px;
    min-width: 275px;
    position: relative;
    background-size: cover;
    color: #fff;
    margin: 0 24px 48px 24px;
}

.CardUI:first-child {
    margin-left: 0;
}

.CardUI:last-child {
    margin-right: 0;
}